option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: pinaxstripe/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "pinaxstripe.settings"
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/site_media/static/": "site_media/static/"